/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require bootstrap
 *= require_self
 *= require_tree .
 */

/*body {background-color: #CDCFBC;
	width: 90%;
	margin: 0px auto;
}*/

#index {
	width: 90%;
	margin: 0px auto;
}

a { text-decoration: none }

header {
	/*width: 90%;*/
	height: 200px;
	/*margin: 0px auto;*/
 /* border-bottom: 1px solid #ddd;*/
 /* padding: 20px 0;*/
  /*background-image: url(brainlarge.jpg);*/
  background-color: #ABB3A6;
  background-repeat: no-repeat; 
  
}


#slogan { width: 30px;
	margin-left: 20px;
font-family: 'Noto Sans', sans-serif;
font-size: 3em;
}

#user_nav { 
	height: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
 }

header #reach {
	width: 400px;
	margin: 20px;
	font-size: 1em;
	color: black;
}

form {  overflow: hidden; margin-bottom: 30px;}

form div {
  padding: 5px 0;
  overflow: hidden;
}

span {
	color: red;
}

th {padding: 8px;}

td {padding: 8px;}

h1 { 
  margin-left: 10px;}

#reach {font-size: 1em;
color: black;
width: 150px;}

#index_options {
	margin-left: 20px;
}

/*width: {185px;
margin-left: 20px ;

font-family: 'Noto Sans', sans-serif;
}*/

#resonate_footer {
		padding-left: 320px;
}




