
	<header>
		<div id ="main_container">

			<div id="slogan">
		    <h2><span>Hot</span>Seats</h2>
		  </div>

		  <div id="reach">
				<h4>Reach Qualified Marketing, Communications and
		      Creative Professionals in <span>Britain</span> - Guaranteed.</h4>
			</div>

      <div id="user_nav">
      	<% if current_user %>
      		Logged in as <%= current_user.email %>		

		    <%= link_to "Log Out", destroy_user_session_path, :class => 'btn btn-info' %>
		
	       <% else %>
		    <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-info' %> 
		    <%= link_to "Log in", new_user_session_path, :class => 'btn btn-info' %>
	     <% end %>
      </div>

    </div>
	</header>
